        table{
            font-family:Tahoma;
            font-size:12px;
        }
        div.MngCountry {
            border:5px double #492c55;
            box-shadow: #492c55 10px 10px 10px;
        }

        .Button {
        background-color: #492c55;
        border-color:#492c55;
        font-weight:500;
        font-size: 14px;
        font-family: Tahoma;
        color: #EB99FF;

    }
        .modelBackground {
            background-color:gray;
            opacity:0.8;
        }

a {
    text-decoration:none;
    color:#492c55;
}

.TitleHeadingStyle {
    text-align:center;
    text-shadow:1px 2px 1px #492c55;
    background-color:#492c55;
    color: #EB99FF;
    font-size:18px;
}
